@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("Fonts/Inter-VariableFont_opsz,wght.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("Fonts/Poppins-Bold.ttf");
}

.inter {
  font-family: "Inter";
}
.poppins {
  font-family: "Poppins";
}
